<div class="courses">
<div class="sup_header">

</div>
<div class="courses_content">
    <div class="card" *ngFor="let course of math">
        <div class="cover" style="background-image: url({{course.cover}});">

        </div>
        <div class="des_course">
            <h2 class="name">{{course.courseName}}</h2>
            <p class="constractor_name"> {{course.constractor}}</p>
            <p class="des"> {{course.des}}</p>
            <div class="rate">
                <i class="fa-solid fa-star rat"></i> <span>{{course.rate}}</span>
            </div>
            <p class="hint">
                Beginner · Professional Certificate · 3 - 6 Months
            </p>

        </div>
    </div>
</div>
</div>
