header{
    //background-color: #00779f;
}
.header_container{
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
 
    .logo{
        font-size: 30px;
        width: fit-content;
       // font-weight: 600;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
}
// .main_home{
//     height: calc(100vh - 50px);
// }